<slide class="{{ class }}" id="{{ id }}" style="background:{{{ bg }}};">
  <hgroup>
    {{{ header}}}
  </hgroup>
  <article>
    {{{ content }}}
    <div id="footer">
  <div class = 'logo'>
    <img src = 'assets/img/dataxtractlogo.png' style='height:50px'></img>
  </div>
  <div class='runhead'><p style='text-align:right'>Introduction to R</p></div>
  </div>

  </article>
  <!-- Presenter Notes -->
  {{# pnotes }}
  <aside class="note">
    <section>
      {{{ pnotes }}}
    </section>
  </aside>
  {{/ pnotes }}
</slide>

